
.splashContainer {
    /*background: $splashBackground;
    z-index: $splashZIndex;*/

    /*background: #1f8dd6*/;
    background: url('static/img/whereweworkzambiaemma.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    z-index: 1;
    overflow: hidden;
    width: 100%;
    height: 88%;
    top: 0;
    left: 0;
    position: fixed !important;
}

.getStartedTitle {
        position: relative;
    top: -1em;
    left: 1.2em;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 2em 0 1em;
    font-size: 1em;
}

.splash {
    width: 80%;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    text-align: center;
    text-transform: uppercase;
}

.splashHead{
    font-size: 20px;
    font-weight: bold;
    color: white;
    border: 3px solid white;
    padding: 1em 1.6em;
    font-weight: 100;
    border-radius: 5px;
    line-height: 1em;
}

.splashSubhead {
    color: white;
    letter-spacing: 0.05em;
    opacity: 0.8;
}

.splashButton {
    background-color: #1f8dd6;
    color: white;
    padding: 0.5em 2em;
    border-radius: 5px;
}

.loginButton {
    background: white;
    color: #1f8dd6;
    border-radius: 5px;
    font-size: 120%;
}

.contentWrapper {
    /* These styles are required for the "scroll-over" effect */
    position: absolute;
    top: 87%;
    width: 100%;
    min-height: 12%;
    z-index: 2;
    background: white;

}

.content {
    padding: 1em 1em 3em;
}

.contentAboveFooter  {
    padding: 1em 1em 3em;
    margin-bottom: 6em;
}

/* This is the class used for the main content headers (<h2>) */
.contentHead {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 2em 0 1em;
    composes: isCenter from "../../index.css";
}

.downloadGuides {
    composes: isCenter from "../../index.css";
}

.ribbon {
    background: #2d3e50;
    color: #aaa;
}

.contentHeadRibbon {
    color: white;
}

.contentSubhead {
    color: #1f8dd6;
}
.contentSubhead i {
    margin-right: 7px;
}

.lBox {
    padding: 1em;
}

.lBoxLrg {
    padding: 2em;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}



@media (min-width: 48em) {
     .lBoxLrg {
        border: none;
    }
    .splash {
        width: 50%;
        height: 50%;
    }
    .splashHead {
        font-size: 250%;
    }
}

@media (min-width: 78em) {
    .splashHead {
        font-size: 300%;
    }
}
