

.workNav {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 40px;
  position: relative;
  background: rgb(37, 42, 58);
  text-align: center;
  display:none;
}

.navInner {
    display: block;
    padding: 2em 0;
}

.avatar {
    border-radius: 3px;
    margin-right: 0.5em;
     margin: 0.5em;
  -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    text-align: left;
}
.userName,
.userLocation {
    margin: 0;
}
.userName {
    text-transform: uppercase;
    color: #999;
}

.labelDeclaration,
.labelValidation,
.labelRegistration {
  width: 15px;
    height: 15px;
    display: inline-block;
    margin-right: 0.5em;
    border-radius: 3px;
}

.labelDeclaration {
  background: #ffc94c;
}

.labelValidation {
  background: #41ccb4;
}

.labelRegistration {
  background: #40c365;
}


.primaryButton {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-radius: 20px;
    color: #fff;
    background: #1b98f8;
    margin: 1em 0;
}
.itemCount {
    color: rgb(75, 113, 151);
}

.menu {
    background: transparent;
    border: none;
    text-align: left;
    text-decoration: none;
}
.menuLink:hover,
.menuLink:focus {
    background: rgb(55, 60, 90);
    text-decoration: none;
}
.menuLink {
    color: #fff;
    margin-left: 1em;
    text-decoration: none;
}
.menuHeading {
    border-bottom: none;
    font-size:110%;
    color: rgb(75, 113, 151);
    padding: .5em 1em;
}

@media (min-width: 40em) {
  .workNav {
    position: fixed;
    top: 0;
    bottom: 0;
    overflow: auto;
    margin-left:-500px; /* "left col (nav + list)" width */
    width:150px;
    height: 100%;
    display:block;
  }
  .navInner {
      display: block;
      padding: 2em 0;
  }
}