language: node_js
node_js:
  - 'lts/*'
cache: yarn
jobs:
  include:
    - stage: unit tests
      after_success:
        - npm install codecov -g
        - codecov

    - stage: integration tests
      before_install: echo fs.inotify.max_user_watches=524288 | sudo tee -a /etc/sysctl.conf && sudo sysctl -p
      script:
        - yarn global add wait-on
        - yarn dev:secrets:gen
        - yarn compose -d
        - sleep 10
        - yarn start:prod &
        - wait-on http://localhost:3000 http://localhost:3020
        - cd packages/user-mgnt && yarn populate && cd ../..
        - cd packages/e2e && yarn start --record
      env:
        - CYPRESS_LOGIN_URL=http://localhost:3020/
        - CYPRESS_REGISTER_URL=http://localhost:3000/
        - CYPRESS_PERFORMANCE_URL=http://localhost:3002/
        - CYPRESS_AUTH_URL=http://localhost:4040/
      services:
        - docker

    - stage: build and push docker images
      if: branch = master AND type = push
      install: skip
      script:
        - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
        - yarn compose:push
      sudo: required
      services:
        - docker

#     - stage: deploy to staging
#       if: branch = master AND type = push
#       install: skip
#       script: yarn deploy:staging
#       addons:
#         ssh_known_hosts: opencrvs-staging.jembi.org

#     - stage: integration tests on staging
#       if: branch = master AND type = push
#       install: skip
#       script: cd packages/e2e && yarn && yarn start --record
#       env:
#         - CYPRESS_LOGIN_URL=https://login.opencrvs-staging.jembi.org/
#         - CYPRESS_REGISTER_URL=https://register.opencrvs-staging.jembi.org/
#         - CYPRESS_PERFORMANCE_URL=https://performance.opencrvs-staging.jembi.org/
#         - CYPRESS_AUTH_URL=https://auth.opencrvs-staging.jembi.org/
