version: '3.3'

services:
  register:
    image: jembi/ocrvs-register:${VERSION:-latest}
    build:
      context: .
      dockerfile: ./packages/register/Dockerfile
    restart: unless-stopped

  performance:
    image: jembi/ocrvs-performance:${VERSION:-latest}
    build:
      context: .
      dockerfile: ./packages/performance/Dockerfile
    restart: unless-stopped

  login:
    image: jembi/ocrvs-login:${VERSION:-latest}
    build:
      context: .
      dockerfile: ./packages/login/Dockerfile
    restart: unless-stopped

  styleguide:
    image: jembi/ocrvs-styleguide:${VERSION:-latest}
    build:
      context: .
      dockerfile: ./packages/components/Dockerfile
    restart: unless-stopped

  gateway:
    image: jembi/ocrvs-gateway:${VERSION:-latest}
    build:
      context: .
      dockerfile: ./packages/gateway/Dockerfile
    restart: unless-stopped
    environment:
      - NODE_ENV=DEVELOPMENT
      - FHIR_URL=http://openhim-core:5001/fhir
      - USER_MANAGEMENT_URL=http://user-mgnt:3030/
      - SEARCH_URL=http://search:9090/
      - METRICS_URL=http://metrics:1050
      - COUNTRY=bgd
      - AUTH_URL=http://auth:4040

  # User facing services
  workflow:
    image: jembi/ocrvs-workflow:${VERSION:-latest}
    build:
      context: .
      dockerfile: ./packages/workflow/Dockerfile
    restart: unless-stopped
    environment:
      - NODE_ENV=DEVELOPMENT
      - NOTIFICATION_SERVICE_URL=http://notification:2020/
      - USER_MANAGEMENT_URL=http://user-mgnt:3030/
      - HEARTH_URL=http://hearth:3447/fhir
      - OPENHIM_URL=http://openhim-core:5001
      - COUNTRY=${COUNTRY?Missing "COUNTRY" from environment variables}
      - AUTH_URL=http://auth:4040
      - CHECK_INVALID_TOKEN=true

  search:
    image: jembi/ocrvs-search:${VERSION:-latest}
    build:
      context: .
      dockerfile: ./packages/search/Dockerfile
    restart: unless-stopped
    environment:
      - NODE_ENV=DEVELOPMENT
      - USER_MANAGEMENT_URL=http://user-mgnt:3030/
      - ES_HOST=elasticsearch:9200
      - HEARTH_URL=http://hearth:3447/fhir
      - AUTH_URL=http://auth:4040
      - CHECK_INVALID_TOKEN=true

  metrics:
    image: jembi/ocrvs-metrics:${VERSION:-latest}
    build:
      context: .
      dockerfile: ./packages/metrics/Dockerfile
    restart: unless-stopped
    environment:
      - INFLUX_HOST=influxdb
      - INFLUX_PORT=8086
      - INFLUX_DB=ocrvs
      - AUTH_URL=http://auth:4040
      - CHECK_INVALID_TOKEN=true
  # END User facing services

  auth:
    image: jembi/ocrvs-auth:${VERSION:-latest}
    build:
      context: .
      dockerfile: ./packages/auth/Dockerfile
    restart: unless-stopped
    environment:
      - REDIS_HOST=redis
      - USER_MANAGEMENT_URL=http://user-mgnt:3030/
      - CONFIG_TOKEN_EXPIRY_SECONDS=604800
      - CONFIG_SMS_CODE_EXPIRY_SECONDS=600
      - NOTIFICATION_SERVICE_URL=http://notification:2020/

  user-mgnt:
    image: jembi/ocrvs-user-mgnt:${VERSION:-latest}
    build:
      context: .
      dockerfile: ./packages/user-mgnt/Dockerfile
    restart: unless-stopped
    environment:
      - MONGO_URL=mongodb://mongo1/user-mgnt
      - AUTH_URL=http://auth:4040
      - NOTIFICATION_SERVICE_URL=http://notification:2020/
      - FHIR_URL=http://openhim-core:5001/fhir
      - HOST=0.0.0.0

  notification:
    image: jembi/ocrvs-notification:${VERSION:-latest}
    build:
      context: .
      dockerfile: ./packages/notification/Dockerfile
    restart: unless-stopped
    environment:
      - AUTH_URL=http://auth:4040
      - COUNTRY=${COUNTRY?Missing "COUNTRY" from environment variables}

  resources:
    image: jembi/ocrvs-resources:${VERSION:-latest}
    build:
      context: .
      dockerfile: ./packages/resources/Dockerfile
    restart: unless-stopped
    environment:
      - MONGO_URL=mongodb://mongo1/user-mgnt
      - TEST_USER_PASSWORD=test
      - NODE_ENV=DEVELOPMENT
      - FHIR_URL=http://hearth:3447/fhir
      - AUTH_URL=http://auth:4040
