# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at https://mozilla.org/MPL/2.0/.
#
# OpenCRVS is also distributed under the terms of the Civil Registration
# & Healthcare Disclaimer located at http://opencrvs.org/license.
#
# Copyright (C) The OpenCRVS Authors located at https://github.com/opencrvs/opencrvs-core/blob/master/AUTHORS.
version: '3.3'

services:
  # For dependencies, expose ports locally for dev
  mongo1:
    ports:
      - '27017:27017'
    volumes:
      - './data/mongo:/data/db'

  redis:
    ports:
      - '6379:6379'

  elasticsearch:
    ports:
      - '9200:9200'
      - '9300:9300'
    volumes:
      - './data/elasticsearch:/usr/share/elasticsearch/data'
      - './data/backups/elasticsearch:/data/backups/elasticsearch'
    environment:
      - 'discovery.type=single-node'
      - 'cluster.routing.allocation.disk.threshold_enabled=false'
      - path.repo=/data/backups/elasticsearch
      - 'ES_JAVA_OPTS=-Xms1024m -Xmx1024m'
      - bootstrap.system_call_filter=false
      # - http.port=9200
      # - http.cors.allow-origin=http://localhost:1358,http://127.0.0.1:1358
      # - http.cors.enabled=true
      # - http.cors.allow-headers=X-Requested-With,X-Auth-Token,Content-Type,Content-Length,Authorization
      # - http.cors.allow-credentials=true

  # elasticsearch browser.  Uncomment during development, along with the environment variables for elastic above, to browse Elastic via a GUI at http://localhost:1358/
  #dejavu:
  #  image: appbaseio/dejavu:3.2.3
  #  container_name: dejavu
  #  ports:
  #    - '1358:1358'
  #  links:
  #    - elasticsearch
  minio:
    ports:
      - '3535:3535'
      - '3536:3536'
    volumes:
      - './data/minio:/data'
    command: server --address ":3535" --console-address ":3536" /data

  influxdb:
    ports:
      - '8086:8086'
    volumes:
      - './data/influxdb:/var/lib/influxdb'
      - './data/backups/influxdb:/data/backups/influxdb'
      - './infrastructure/influxdb.conf:/etc/influxdb/influxdb.conf'
      # Expose dev secrets as a plain volume - these will use docker secrets in staging and prod
  hearth:
    environment:
      - logger__level=warn
    volumes:
      - '.secrets/public-key.pem:/secrets/public-key.pem'
      - './infrastructure/hearth-plugins/checkDuplicateTask.js:/src/hearth/lib/plugins/checkDuplicateTask.js'
      - './infrastructure/hearth-queryparam-extensions.json:/src/hearth/config/queryparam-extensions.json'
    ports:
      - '3447:3447'

  # Expose config as a plain volume - these will use docker config in staging and prod
  openhim-console:
    volumes:
      - './infrastructure/openhim-console-config.json:/usr/share/nginx/html/config/default.json'
    ports:
      - '8888:80'

  openhim-core:
    ports:
      - '8080:8080'
      - '5000:5000'
      - '5001:5001'
    extra_hosts:
      - 'webhooks:${LOCAL_IP-172.17.0.1}'
      - 'gateway:${LOCAL_IP-172.17.0.1}'
      - 'workflow:${LOCAL_IP-172.17.0.1}'
      - 'search:${LOCAL_IP-172.17.0.1}'
      - 'auth:${LOCAL_IP-172.17.0.1}'
      - 'user-mgnt:${LOCAL_IP-172.17.0.1}'
      - 'notification:${LOCAL_IP-172.17.0.1}'
      - 'metrics:${LOCAL_IP-172.17.0.1}'
      - 'bgd-dhis2-mediator:${LOCAL_IP-172.17.0.1}'
      - 'age-verification-mediator:${LOCAL_IP-172.17.0.1}'
