# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at https://mozilla.org/MPL/2.0/.
#
# OpenCRVS is also distributed under the terms of the Civil Registration
# & Healthcare Disclaimer located at http://opencrvs.org/license.
#
# Copyright (C) The OpenCRVS Authors located at https://github.com/opencrvs/opencrvs-core/blob/master/AUTHORS.
version: '3.3'

services:
  # For dependencies, expose ports locally for dev
  mongo1:
    ports:
      - '27017:27017'
    volumes:
      - './data/mongo:/data/db'
    logging:
      driver: 'none'

  redis:
    ports:
      - '6379:6379'
    logging:
      driver: 'none'

  elasticsearch:
    ports:
      - '9200:9200'
      - '9300:9300'
    volumes:
      - './data/elasticsearch:/usr/share/elasticsearch/data'
    logging:
      driver: 'none'

  # elasticsearch browser.  Uncomment during development, along with the environment variables for elastic above, to browse Elastic via a GUI at http://localhost:1358/
  #dejavu:
  #image: appbaseio/dejavu:3.2.3
  #container_name: dejavu
  #ports:
  #  - "1358:1358"
  #links:
  #  - elasticsearch

  # grafana browser.  Uncomment during development, to browse Influxdb via a GUI at http://localhost:4000/
  # influx will be running on http://influxdb:8086
  #grafana:
  #image: grafana/grafana:5.1.0
  #ports:
  #  - "4000:3000"
  #volumes:
  #  - ./grafana:/var/lib/grafana

  influxdb:
    ports:
      - '8086:8086'
    volumes:
      - './data/influxdb:/var/lib/influxdb'
    logging:
      driver: 'none'

  # Expose dev secrets as a plain volume - these will use docker secrets in staging and prod
  hearth:
    volumes:
      - '.secrets/public-key.pem:/secrets/public-key.pem'
      - './infrastructure/hearth-plugins/checkDuplicateTask.js:/src/hearth/lib/plugins/checkDuplicateTask.js'
      - './infrastructure/hearth-queryparam-extensions.json:/src/hearth/config/queryparam-extensions.json'
    logging:
      driver: 'none'
    ports:
      - '3447:3447'
