.mapSvgContainerCountry {
	position: absolute;
  width: 100%;
  height: 100%;
  z-index: 20;
  top: 2em;
  left: 2em;
}

.overviewMap {
  z-index: 5;
}

.mapSvgContainerRegion {
	position: absolute;
  width: 100%;
  height: 100%;
  z-index: 20;
  top: 2em;
  left: 2em;
}

.totalCerts {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  color: #bbbbbb;
  font-size: 16px;
  padding: 5px;
  -webkit-font-smoothing: antialiased;
  font-weight: 500;
  font-size: 16px;
  color: rgba(0, 0, 0);
}


.mapSvg {
  width: 100%;
}

.dropdownOption {
  position: relative;
  left: 0.8em;
  top: 1em;
  padding-right: 5em;
}

.title {
  color: #bbbbbb;
  font-size:12px;
}

.titleBlack {
  color: black;
}

.defaultTint {
  fill: white;
}

.selectedTint {
  fill: #666666;
}

@media (min-width: 55em) {
  .mapSvgContainerCountry {
    top: 2em;
    left: 5em;
  }
  .mapSvgContainerRegion {
    top: 2em;
    left: 5em;
  }
}