.logo {
  text-align: center;
  margin-bottom: 2em;
}

.dataItem {
  border-bottom: 2px dotted #333;
  text-decoration: none;
  font-weight: 300;
}

.dataItem:after {
  content: "........";
  color: transparent;
}

.dataItem:before {
  content: "........";
  color: transparent;
}

.rightAlign {
  text-align: right;
}
.certificatePaper p{
  line-height: 0.5em;
  font-weight: 600;
}

.certificatePaper {
  background-color: #fffbe6;

  padding: 4em;
}

.certNumber {
  color: #78120a;
  font-size: 1.5em;
  letter-spacing: 0.1em;
}

.original {
  margin-top: -0.5em;
  margin-bottom: 2em;
  font-size: 1.5em;
  letter-spacing: 0.1em;
}

.info {
  font-size: 0.8em;
  font-style: italic;

  position: relative;
  left: 6em;
  top: -0.6em;
}

.eventRegistered {
  margin-top: 4em;
  margin-bottom: 3em;
}

.witness {

  margin-bottom: 8em;
}

.signatureField {
  margin-top: 0.4em;
  margin-bottom: 12em;
}

.witnessStatement {
  line-height: 2em !important;
  font-size: 0.7em !important;
}

.signature {
  border-bottom: 2px dotted #333;
}

.signature:after {
  content: "................";
  color: transparent;
}

.signature:before {
  content: "................";
  color: transparent;
}