

.secondaryButton {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-radius: 20px;
    background: #fff;
    border: 1px solid #ddd;
    color: #666;
    padding: 0.5em 2em;
    font-size: 80%;
    margin-bottom: 0.3em;
}

.formOpen {
    overflow: scroll;
    height: 100%;
}

.wiContentHeader, .wiContentBody, .wiContentFooter {
    padding: 1em 2em;
}

.wiContentBody {
    padding: 1em 1em;
    height: 573px;
    overflow: scroll;
}

.noSelectedMessage {
position: relative;
  top: 35%;
  text-align: center;
}

.noSelectedMessage h1 {
    line-height: 0.5em;
}

.wiContentHeader {
    border-bottom: 1px solid #ddd;
    height: 6.6em;
}

.wiContentTitle {
    margin: 0.5em 0 0;
    color: #34495e;
}

.wiContentSubtitle {
    font-size: 1em;
    margin: 0;
    font-weight: normal;
}

.wiContentSubtitle span {
    color: #999;
}

.wiContentControls {
    margin-top: 1.2em;
    text-align: right;
}

.newWorkItem {
    position: relative;
    top: 0.7em;
}

.workingItemContainer {
    margin: 0;
    padding: 0;
    position: relative;
    display: block;
    top: 19em;
}

@media (max-width:1127px) and (min-width:963px) {
    .wiContentTitle {
        font-size: 1.4em;
    }
    .workingItemContainer {
        position: fixed;
        margin: 0;
        padding: 0;
        width: 75%;
        top: 6em;
        left: 25%;
        bottom: 0;
        height: 100%;
    }

    .noSelectedDeclaration {
        position: fixed;
        width: 75%;
        height: 100%;
        top:6em;
        bottom:0;
        padding: 1em 2em;
    }
}

@media (min-width:963px) {

    .workingItemContainer {
        position: fixed;
        margin: 0;
        padding: 0;
        width: 75%;
        top: 6em;
        left: 25%;
        bottom: 0;
        height: 100%;
    }

    .noSelectedDeclaration {
        position: fixed;
        width: 75%;
        height: 100%;
        top:6em;
        bottom:0;
        padding: 1em 2em;
    }
}
@media (min-width:1128px) {

    .wiContentTitle {
        font-size: 2em;
    }
    .newWorkItem {
        position: relative;
        top: 0.25em;
    }

    .noSelectedDeclaration {
        position: fixed;
        width: 75%;
        height: 100%;
        top:6em;
        bottom:0;
        padding: 1em 2em;
    }
}

.iconHolder {
    width: 3em;
    float: left;
    top: 0.5em;
    position: relative;
    left: -1.5em;
}

.titleText {
    position: relative;
    left: -1em;
}