.iconHolder {
    width: 4em;
    float: left;
    top: 0.5em;
    position: relative;
    left: -0.6em;
}

.copyHolder {
    position: relative;
    width: 80%;
    top: -4em;
    left: 4em;
}

.workItem {
    padding: 0.9em 1em;
    border-bottom: 1px solid #ddd;
    border-left: 6px solid transparent;
    cursor: pointer;
        height: 7em;
}

.openedWorkItem {
    border-left: 6px solid #1b98f8;
}


.workItemTitle,
.workItemSubject {
    margin: 0;
}
.tracking {
    font-style: italic;
    font-size: 0.8em;
    position: relative;
    bottom: -5.4em;
    opacity: 0.5;
    text-transform: uppercase;
}

.workItemTitle {
    color: #34495e;
    font-size: 0.9em;
    line-height: 1.2em;
    margin-top: -1.8em;
}

.workItemDesc {
    font-size: 0.8em;
    line-height: 1.3em;
    color: #34495e;
    opacity: 0.7;
    text-transform: capitalize;
}

.stopWatch {
    position: relative;
    top: -4em;
    left: 100%;
    border: none !important;
}

.stopWatchHidden {
    display: none;
}

@media (min-width: 55em) {

    .iconHolder {
        width: 3em;
        float: left;
        top: 0.5em;
        position: relative;
        left: -0.6em;
    }

}