.imageTarget {
    border: #ddd 4px dashed;
    border-radius: 2px;
    text-align: center;
    position: relative;
    min-height: 15.5em;
}

.imageTargetUploading {
    border: none;
}

h1 {
    color: #ddd;
}

h2 {
    color: #ddd;
}

.imageInput{
  display: none;
}

.progressHolder {
    margin: 0 auto;
    position: relative;
    top: 2.3em;
}