
/*
 * -- MENU STYLES --
 * I want to customize how my .pure-menu looks at the top of the page
 */


.homeMenu {
    background: #2d3e50;
    padding: 0.5em;
    text-align: center;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
}
.pure-menu.pure-menu-fixed {
    /* Fixed menus normally have a border at the bottom. */
    border-bottom: none;
    /* I need a higher z-index here because of the scroll-over effect. */
    z-index: 4;
}

.homeMenu .pure-menu-heading {
    color: white;
    font-weight: 400;
    font-size: 120%;
}

.homeMenu a {
    color: #6FBEF3;
}
.homeMenu li a:hover,
.homeMenu li a:visited,
.homeMenu li a:focus {
    background: none;
    border: none;
    color: #AECFE5;
}

.pureMenuSelected a {
    color: white !important;
}


@media (min-width: 48em) {

    .homeMenu {
        text-align: left;
    }
    .homeMenu ul {
        float: right;
    }
}
