.trackerGraph {
  position: relative;
  display:block;
  width:100%;
  height:100%;
}

.yAxisTitle {
  position: absolute;
  display: block;
  transform: rotate(-90deg);
  transform-origin: left top 0;
  top: 11.3em;
  left: 11%;

}
.centerChart {
  margin: 0 auto;
}