.dialog {
    width: 90%;
    height: 90%;
}

.navigation {
    margin-top: -3em;
}


@media (min-width: 55em) {

    .dialog {
        height: 80%;
        top: 3em;
        position: relative;
    }

}
    