.closed {
  height: 15em;
  top: -9em;
  position: relative;
  border-top: 1px solid rgb(238, 238, 238);
  background-color: white;
  z-index: 10;
  width: 100%;
  -webkit-transition-property: top;
  -moz-transition-property: top;
  -o-transition-property: top;
  transition-property: top;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
}

.open {
  height: 15em;
  top: -24em;
  position: relative;
  border-top: 1px solid rgb(238, 238, 238);
  background-color: white;
  z-index: 10;
  width: 100%;
  -webkit-transition-property: top;
  -moz-transition-property: top;
  -o-transition-property: top;
  transition-property: top;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
}

.toggle {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  color: rgba(0, 0, 0, 0.7);
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  padding: 17px 12px;
  position: relative;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
}

.upArrow {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid rgba(0, 0, 0, 0.7);
  cursor: pointer;
  position: relative;
  top: -1.7em;
  right: -96%;
}

.downArrow {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid rgba(0, 0, 0, 0.7);
  cursor: pointer;
  position: relative;
  top: -1.7em;
  right: -96%;
}