

.graphHolder {
  height: 25em;
  top: -22em;
  position: relative;
  border-top: 1px solid rgb(238, 238, 238);
  background-color: white;
  z-index: 10;
  width: 30%;
}

.title {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  color: rgba(0, 0, 0, 0.7);
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  padding: 17px 12px;
  position: relative;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
}

.labels {
  font-size: 0.7em;
  transform: translate(-14px, 5px) rotate(-90deg);
}