

.graphHolder {
  height: 25em;
  top: -22em;
  position: relative;
  border-top: 1px solid rgb(238, 238, 238);
  background-color: white;
  z-index: 10;
  width: 30%;
}

.title {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  color: #bbbbbb;
  font-size: 16px;
  padding: 5px;
  -webkit-font-smoothing: antialiased;
}

.labels {
  font-size: 0.7em;
  letter-spacing: 0.1em;
  transform: translate(-14px, 5px) rotate(-45deg);
}

.performanceGraph {
  position: relative;
  top: 2em;
}