.newDeclCard {
  text-align: center;
  cursor: pointer;
}

.newDeclCard svg {
  width:4em;
  height: 4em;
  top: 1em;
  position: relative;
}

.newDeclCard button {
  width:8em;
  height: 8em;
  margin: 1em;
}

h5 {
  margin-top: 0em;
  text-transform: uppercase;
  color: rgb(255, 64, 129);
}