.itemText {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-size: 14px;
}

.subjectTitle {
  padding-right: 1em;
  padding-left: 1em;
}

.settingsRow:nth-child(even) {
  background: #dcdcdc;
}

.buttons {
  text-align: right;
}

.editButton {
  margin-top: 0.55em;
  margin-right: 0.55em;
}