.settingsContainer {
  margin: 0;
  padding: 0;
  color: #333;
  text-decoration: none;
}


.settingsContent {
  width: 80%;
  height: auto;
  top: 6em;
  position: relative;
  margin: 0 auto;
  margin-top: 3em;
}

.title {
  text-transform: uppercase;
  font-size: 14px;
}

.settingsTitles {
  border-bottom: 1px solid #333;
}

.rightAlign {
  text-align: right;
}