.registrationView {
  display: none;
}

.list {
    margin: 0;
    padding: 0;
    margin-left: 0px;
    width: 100%;
    height: 33%;
    border-bottom: 1px solid #ddd;
    position: fixed;
    overflow: scroll;
    z-index: 20; /* Sit on top */
    background-color: white;
    max-height: 35.8em;
}



@media (min-width: 55em) {

    .list {
        width:25%;
        left: 75%;
        top: 6em;
        height: 100%;
        border-left: 1px solid #ddd;
        max-height: 100%;
    }

}
