
.pureButtonPrimary {
    background: white;
    color: #1f8dd6;
    padding: 0.5em 2em;
    border-radius: 5px;
    font-size: 120%;
    margin: 1.5em 0em;
}

.errorMessageSplash{
    color: #ff4081;
    letter-spacing: 0.05em;
    font-weight: bold;
    text-transform: none;
    margin: 0.2em;
}

.formContainer {
    background-color: #FFFFFF;
    border-radius: 5px;
    border: 3px solid white;
    min-width: 17em;
    max-height: 13.1em;
}

.usernameInput {
  width: 100% !important;
  height: 4em;
min-width: 16em;
    border-radius: 5px 5px 0 0  !important;
}
.passwordInput {
  width: 100% !important;
  height: 4em;
  min-width: 16em;
    border-radius: 0px  !important;
}

@media (min-width: 55em) {

    .usernameInput {
        height: 3em;
    }
    .passwordInput {
        height: 3em;
    }
}
