.trackerTimeline {
  position: relative;
  display:block;
  width:100%;
  height:100%;
}

.timelineIcon {
  font-size: 17px !important;
  left: -0.03em;
  position: absolute;
}

.timeline {
  height: 90%;
  overflow: scroll;
  display: block;
  position: relative;
}

.kpiChart {
  position: absolute !important;
  transform: rotate(-90deg);
  transform-origin: left top 0;
  right: 20%;
  margin-top: 0.7em;
}

.title {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  color: #bbbbbb;
  font-size: 16px;
  text-align: center;
  margin-left: -2.5em;
  padding: 5px;
  -webkit-font-smoothing: antialiased;
}

.processPerformance {
  position: absolute;
  left: 73%;
  top: 3em;
}

.speedometer {
  margin-left: 3em;
  text-align: center;
}

.notes {
  padding: 1em;
}

.onTime {
  position: absolute;
  margin-top: -4.3em;
  margin-left: 6em;
  text-transform: uppercase;
  color: green;
}

.perfTarget {
  position: relative;
  text-align: center;
  margin-left: 3em;
  margin-top: -3em;
}