.tooltipHolder {
  display: block;
  position: absolute;
  z-index: 500;
  bottom: 200px;
  right: 200px;
}

.tooltip {
  width: auto;
  background-color: white;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  top: 100%;
  left: 50%;
  margin-left: -120px;
}

.percentage {
  font-size: 3.4rem;
  letter-spacing: 0rem;
  font-weight: 300;
  color: #757575;
  text-transform: none;

    margin-top: -0.2em;

    margin-bottom: 0.1em;
}
    
.title {
  font-size: 2rem;
  letter-spacing: 0.005rem;
  font-weight: 400;
  color: #212121;
  text-transform: none;
    margin-top: 0.2em;
}

.certification {
  font-size: 1rem;
  letter-spacing: 0.01rem;
  font-weight: 300;
  color: #212121;
  text-transform: uppercase;
  padding-left: 1em;
  padding-right: 1em;
    margin-bottom: -0.2em;
}