.tooltipHolder {
  position: relative;
  margin-top: 2em;
}

.tooltipText {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  color: #bbbbbb;
  font-size: 16px;
  padding: 5px;
  -webkit-font-smoothing: antialiased;
}

.bold {
  font-weight: 500;
  font-size: 16px;
  color: rgba(0, 0, 0);
}

.certification {
  font-size: 1rem;
  letter-spacing: 0.01rem;
  font-weight: 300;
  color: #212121;
  text-transform: uppercase;
  padding-left: 1em;
  padding-right: 1em;
  margin-bottom: -0.2em;
}