.title {
  font-size: 0.9em;
  margin-top: 0.2em;
  font-weight: 600;
  margin-left: 0.6em;
}

.detailsContainer {

  padding: 0.9em 1em;
  border-bottom: 1px solid #ddd;
}

.sub {
  font-size: 0.7em;
  font-weight: 500;
  margin-left: 0.8em;
  line-height: 1em;
  margin-bottom: 0.2em;
}
