.rolledOver {
  color: white;
  background-color: #222;
  border-bottom: 1px solid #ddd;
}

.locationItem {
  background-color: white;
  color: #333;
  border-bottom: 1px solid #ddd;
}

.title {
  font-size: 0.9em;
  margin-top: 0.2em;
  font-weight: 600;
  margin-left: 0.6em;
}

.sub {
  font-size: 0.7em;
  font-weight: 500;
  margin-left: 0.8em;
  margin-top: -2.1em;
  margin-bottom: 0.2em;
}
