.list {
    margin: 0;
    padding: 0;
    margin-left: 0px;
    width: 100%;
    height: 33%;
    border-bottom: 1px solid #ddd;
    position: relative;
    overflow: scroll;
    z-index: 20; /* Sit on top */
    background-color: white;
}

.list div:nth-child(3n) {
    border-top: 1px solid #ddd;
}

.newDecl {
    text-align: center;
    margin: 2em;
}




@media (min-width: 55em) {

    .list {
        width:25%;
        top: 6em;
        height: auto;
        border-right: 1px solid #ddd;
    }

}

