.list {
    margin: 0;
    padding: 0;
    margin-left: 0px;
    width: 100%;
    height: 33%;
    border-bottom: 1px solid #ddd;
    position: relative;
    overflow: scroll;
    top: 6em;
    z-index: 20; /* Sit on top */
}


@media (min-width: 40em) {

    .list {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 33%;
        border-bottom: 1px solid #ddd;
    }
}

@media (min-width: 60em) {

    .list {
        width:25%;
        height: 100%;
        border-right: 1px solid #ddd;
    }

}

