.largeCard {
  display: block;
  width: 100%;
  padding: 1em;
  border-bottom: 1px solid #ddd;
}
.mediumCard {
  display: block;
  width: 100%;
  padding: 1em;
  border-bottom: 1px solid #ddd;
  min-height: 7em;
}

.mediumCard svg{ 
  max-height: 5em;
}


.smallCard {
  display: block;
  width: 100%;
  padding: 1em;
  border-bottom: 1px solid #ddd;
}
.tinyCard {
  display: block;
  width: 100%;
  padding: 1em;
  border-bottom: 1px solid #ddd;
}
.invisibleCard {
  display: none;
}
.invisibleSvg {
  display: none;
}
.largeSvg {
  display: block;
  float:left;
  width: 46%;
  left: -0.3em;
  position: relative;
  top: 0.8em;
}

.tinyText {
  width: 100%;
  margin-top: 0.6em;
  margin-left: -0.3em
}

.tinyText .name {
  margin-top: -1.5em;
}
.tinyText .email {
  margin-top: 1em;
}
.tinyText .title {
  margin-bottom: -1.5em;
}
.tinyText .phone {
  display: none;
}
.smallText {
  position: relative;
  margin-top: -1.6em;
  margin-left: 0.8em;
  width: 80%;
}

.smallText .email {
  margin-top: 0.5em;
}

    
.mediumText {
  position: relative;
  margin-top: -1.6em;
  margin-left: 0.8em;
  width: 70%;
}
.largeText {
  top: -1em;
  position: relative;
  width: 50%;
}
.mediumSvg {
  display: block;
  float:left;
  width: 28%;
  margin-left: -0.6em;
}
.smallSvg {
    display: block;
  float: left;
  width: 11%;
  margin-top: 0.7em;
}
.name {
  font-size: 0.9em;
  margin-bottom: -0.6em;
  margin-top: 1em;
  font-weight: 600;
  margin-left: 0.4em;
  line-height: 1.3em;
}
.title {
  font-size: 0.7em;
  margin-bottom: -1em;
  font-weight: 500;
  margin-left: 0.5em;
  line-height: 1.3em;
}

.email {
  font-size: 0.7em;
  margin-bottom: -2em;
  font-weight: 500;
  margin-left: 0.5em;
}

.phone {
  font-size: 0.7em;
  margin-bottom: -2em;
  font-weight: 500;
  margin-left: 0.5em;
  display: block;
}