.searchContainer {
    padding: 0.9em 1em;
    border-bottom: 1px solid #ddd;
}

.workItemTitle {
    margin: 0;
    text-transform: uppercase;
    color: #999;
}

.secondaryButton {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-radius: 20px;
    background: #fff;
    border: 1px solid #ddd;
    color: #666;
    padding: 0.5em 2em;
    font-size: 80%;
    height: 2.8em;
    margin-top: 0.8em;
}