# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at https://mozilla.org/MPL/2.0/.
#
# OpenCRVS is also distributed under the terms of the Civil Registration
# & Healthcare Disclaimer located at http://opencrvs.org/license.
#
# Copyright (C) The OpenCRVS Authors located at https://github.com/opencrvs/opencrvs-core/blob/master/AUTHORS.
name: Build and Deploy Storybook to Cloudflare Pages

on:
  push:
    branches:
      - master
      - develop
      - release-v*
  issue_comment:
    types:
      - created

jobs:
  build:
    if: github.event_name == 'push'
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          repository: 'opencrvs/opencrvs-core'
          ref: ${{ github.ref }}

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10
          run_install: false

      - name: Use Node.js from .nvmrc
        uses: actions/setup-node@v4
        with:
          node-version-file: .nvmrc

      - name: Get pnpm store directory
        run: |
          echo "STORE_PATH=$(pnpm store path --silent)" >> $GITHUB_ENV

      - name: Setup pnpm cache
        uses: actions/cache@v4
        with:
          path: ${{ env.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Install dependencies
        run: pnpm install

      - name: Build components
        run: cd packages/components && pnpm build

      - name: Build Storybook
        run: cd packages/components && pnpm build-storybook

      - name: Deploy
        run: npx wrangler pages deploy ./packages/components/build --project-name opencrvs --branch ${{ github.ref_name }}
        env:
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}

  comment-check:
    if: github.event_name == 'issue_comment' && github.event.comment.body == '/uikit'
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          repository: 'opencrvs/opencrvs-core'

      - name: Get the PR branch name
        id: get_branch
        run: |
          echo "PR_BRANCH=$(gh pr view ${{ github.event.issue.number }} --json headRefName --jq .headRefName)" >> $GITHUB_ENV
        env:
          GITHUB_TOKEN: ${{ github.token }}

      - name: Checkout PR branch
        uses: actions/checkout@v3
        with:
          repository: 'opencrvs/opencrvs-core'
          ref: ${{ env.PR_BRANCH }}

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10
          run_install: false

      - name: Use Node.js from .nvmrc
        uses: actions/setup-node@v4
        with:
          node-version-file: .nvmrc

      - name: Setup pnpm cache
        uses: actions/cache@v4
        with:
          path: ${{ env.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Install dependencies
        run: pnpm install

      - name: Build components
        run: cd packages/components && pnpm build

      - name: Build Storybook
        run: cd packages/components && pnpm build-storybook

      - name: Deploy Storybook to Cloudflare Pages
        id: deploy_storybook
        run: |
          DEPLOY_OUTPUT=$(npx wrangler pages deploy ./packages/components/build --project-name opencrvs --branch ${{ env.PR_BRANCH }})
          echo "$DEPLOY_OUTPUT"
          DEPLOY_URL=$(echo "$DEPLOY_OUTPUT" | grep -o 'https://.*.dev' | tail -n 1)
          echo "storybook_url=$DEPLOY_URL" >> $GITHUB_OUTPUT
        env:
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}

      - name: Comment on PR with Storybook link
        run: |
          COMMENT="Storybook deployed: ${{ steps.deploy_storybook.outputs.storybook_url }}"
          gh pr comment ${{ github.event.issue.number }} --body "$COMMENT"
        env:
          GITHUB_TOKEN: ${{ github.token }}
